<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Keeper.Siasun.Mes.Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Keeper.Siasun.Mes.Project.Properties.Settings>
            <setting name="Keeper_Siasun_Mes_Project_WebMesTest_MaterialMessageFromCappServiceService"
                serializeAs="String">
                <value>http://172.16.10.22:8080/mes-web/webservice/materialMessageFromCappService</value>
            </setting>
        </Keeper.Siasun.Mes.Project.Properties.Settings>
    </applicationSettings>
</configuration>