<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISyncReply" />
                <binding name="BasicHttpBinding_IOneWay" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/K3CloudServiceInterface/soap11"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISyncReply"
                contract="ServiceReference1.ISyncReply" name="BasicHttpBinding_ISyncReply" />
            <endpoint address="http://localhost/K3CloudServiceInterface/soap11"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOneWay"
                contract="ServiceReference1.IOneWay" name="BasicHttpBinding_IOneWay" />
        </client>
    </system.serviceModel>
</configuration>